# Disable directory listing
#Options -Indexes

# Enable the Rewrite Engine
RewriteEngine on

# Redirect to HTTPS if not already
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Remove file extension for non-directory requests
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]

# Redirect URLs like tinyURL/1rq to tinyURL/player.php?target=1rq
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^tinyURL/([^/]+)/?$ tinyURL/redirect.php?target=$1 [L,QSA]

# Redirect from library.php to error.html
RewriteRule ^tinyURL/library.php$ /tinyURL/error.html [L,R=301]

# Redirect from index.php to index
RewriteRule ^tinyURL/index.php$ /tinyURL/ [L,R=301]

# Serve all text files as unicode
AddDefaultCharset utf-8

# Set encoding on individual file types
AddCharset utf-8 .html .css .js .php